body {
    font-family: Arial, sans-serif;
    background-color: lightcyan;
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    margin: 50px auto;
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    color: #555;
}
input, textarea, select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
#courseContainer {
    display: flex;
    flex-direction: column;
}
#courseContainer input {
    margin-right: 10px;
}
